<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>@ViewData["Title"] - Accounting System</title>
    <link rel="stylesheet" href="~/lib/tabler/css/tabler.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <style>
        @@import url(//css/inter.css);
    </style>
</head>
<body>
<header class="navbar navbar-expand-md d-print-none" >
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
                Inventory & Accounting System
            </a>
        </div>
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                    <span class="avatar avatar-sm" style=""></span>
                    <div class="d-none d-xl-block ps-2">
                        <div>Landrex Rebuera</div>
                        <div class="mt-1 small text-secondary">Accountant</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="#" class="dropdown-item">Status</a>
                    <a href="./profile.html" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a href="./settings.html" class="dropdown-item">Settings</a>
                    <a href="./sign-in.html" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <div class="row flex-fill align-items-center">
                    <div class="col">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="./" >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-layout-dashboard"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" /><path d="M5 16h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" /><path d="M15 12h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" /><path d="M15 4h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Dashboard
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-building-warehouse"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21v-13l9 -4l9 4v13" /><path d="M13 13h4v8h-10v-6h6" /><path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Warehouse
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href=".">
                                                Materials
                                            </a>
                                            <a class="dropdown-item" href=".">
                                                Material Direct
                                            </a>
                                            <a class="dropdown-item" href=".">
                                                Inspection & Acceptance
                                            </a>
                                            <a class="dropdown-item" href=".">
                                                RIS
                                            </a>
                                            <a class="dropdown-item" href=".">
                                                Property Transfer
                                            </a>
                                            <a class="dropdown-item" href=".">
                                                Waste Material
                                            </a>
                                            <a class="dropdown-item" href=".">
                                                Physical Inventory
                                            </a>
                                            <a class="dropdown-item" href=".">
                                                System Inventory
                                            </a>
                                            <div class="dropend">
                                                <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                    Reports
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        RIS Summary
                                                    </a>
                                                    <a class="dropdown-item" href=".">
                                                        PAR
                                                    </a>
                                                    <a class="dropdown-item" href=".">
                                                        ICS
                                                    </a>
                                                    <a class="dropdown-item" href=".">
                                                        RSMI
                                                    </a>
                                                    <a class="dropdown-item" href=".">
                                                        Unserviceable Property Report
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-math"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 5h-7l-4 14l-3 -6h-2" /><path d="M14 13l6 6" /><path d="M14 19l6 -6" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Accounting
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            <div class="dropend">
                                                <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                    Payroll
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Job Order
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Contractual
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Regular
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Casual
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Disbursement Voucher
                                            </a>
                                            <div class="dropend">
                                                <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                    JEV
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Journal Entry Voucher
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Journal Entry Voucher (Special)
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Journal Entry Voucher (Special) - Deposits
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Journal Entry Voucher (Special) - Transfers
                                                    </a>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                General Journal
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Liquidation Report
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Subsidiary Ledger
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                General Ledger
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Trial Balance
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Income Statement
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Equity
                                            </a>
                                            <div class="dropend">
                                                <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                    Reports
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Advice to Debit Account Disbursement Journal
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Cash Receipts Journal
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Materials and Supplies Issued Journal
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Materials and Supplies Inventory
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        ADA Issuance
                                                    </a>
                                                    <a href="javascript:void(0)" class="dropdown-item">
                                                        Supplies and Materials Issued
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" /><path d="M12 12l8 -4.5" /><path d="M12 12l0 9" /><path d="M12 12l-8 -4.5" /><path d="M16 5.25l-8 4.5" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Manage
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)" target="_blank" rel="noopener">
                                        Chart of Accounts
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" target="_blank" rel="noopener">
                                        Chart of Accounts Classification
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" target="_blank" rel="noopener">
                                        Material Classifications
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" target="_blank" rel="noopener">
                                        List of Supplier
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" target="_blank" rel="noopener">
                                        Contributions / Deductions
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Material Brands
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Unit of Measure
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Signatories
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-exclamation"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4c.348 0 .686 .045 1.008 .128" /><path d="M19 16v3" /><path d="M19 22v.01" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Admin
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" rel="noopener" href="~/admin/user">
                                        Users
                                    </a>
                                    <a class="dropdown-item" rel="noopener" href="~/admin/role-menu">
                                        Roles
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shield-cog"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 21a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3a12 12 0 0 0 8.5 3c.568 1.933 .635 3.957 .223 5.89" /><path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M19.001 15.5v1.5" /><path d="M19.001 21v1.5" /><path d="M22.032 17.25l-1.299 .75" /><path d="M17.27 20l-1.3 .75" /><path d="M15.97 17.25l1.3 .75" /><path d="M20.733 20l1.3 .75" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        System
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" rel="noopener" href="javascript:void(0)">
                                        Menus
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 d-none d-xxl-block">
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                            <form action="./" method="get" autocomplete="off" novalidate>
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                                    </span>
                                    <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="section">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
                    <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Developed by Landrex O. Rebuera &copy; 2025.
                        All rights reserved.
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0)" class="link-secondary" rel="noopener">
                            v1.0.0
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/tabler/js/tabler.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>